body {
  background-color: #deb887;
}
h1{
  color: #8b0000;
}
h3{
color: #8b0000;
}
h2{
color: #8b0000;
}
h4{
color: #8b0000;
}
hr{

  border-style: none;
  border-top-style: dotted;
  border-color: grey;

border-width: 5px;
width: 5%;

}
.accordion {
  background-color: #deb887;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  transition: 0.7s;
}
.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; 
}

